USE [BipuniBitan]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 17-Sep-16 8:49:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[Catagory_id] [int] NOT NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
	[Remarks] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Catagory]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Catagory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
	[Remarks] [nvarchar](100) NULL,
 CONSTRAINT [PK_Catagory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[item_description] [nvarchar](1000) NULL,
	[Item_Image] [varbinary](max) NULL,
	[Brand_id] [int] NOT NULL,
	[Catagory_id] [int] NOT NULL,
	[Munit_id] [int] NOT NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
	[Remarks] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item_Distribution]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Distribution](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Item_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[Distribution_Date] [datetime] NOT NULL,
	[Remarks] [nvarchar](100) NULL,
	[Createby] [nvarchar](10) NULL,
	[CreateDate] [datetime] NULL,
	[Modifiedby] [nvarchar](10) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Item_Distribution] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item_Receive]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Receive](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_id] [int] NOT NULL,
	[Item_id] [int] NOT NULL,
	[Receive_Date] [datetime] NOT NULL,
	[Total_Quantity] [decimal](18, 2) NOT NULL,
	[Total_Price] [decimal](18, 3) NOT NULL,
	[Per_unit_buy_price] [decimal](18, 3) NOT NULL,
	[Per_unit_sell_price] [decimal](18, 3) NOT NULL,
	[Createby] [nvarchar](10) NULL,
	[CreateDate] [datetime] NULL,
	[Modifiedby] [nvarchar](10) NULL,
	[ModifiedDate] [datetime] NULL,
	[Remarks] [nvarchar](200) NULL,
 CONSTRAINT [PK_Item_Receive] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item_Stock]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item_Stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stock_date] [datetime] NOT NULL,
	[item_id] [int] NOT NULL,
	[in_StockQuantity] [decimal](18, 2) NOT NULL,
	[Out_StockQuantity] [decimal](18, 2) NOT NULL,
	[status] [bit] NOT NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
 CONSTRAINT [PK_Item_Stock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MeasurementUnit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
	[Remarks] [nvarchar](2000) NULL,
 CONSTRAINT [PK_MeasurementUnit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SupplierInfo]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SupplierInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone_Number] [nvarchar](15) NOT NULL,
	[City] [nvarchar](20) NULL,
	[Country] [nvarchar](15) NULL,
	[webAddress] [varchar](30) NULL,
	[Email] [varchar](30) NULL,
	[Contact_Person_Name] [nvarchar](20) NULL,
	[createby] [varchar](10) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](10) NULL,
	[modifyDate] [datetime] NULL,
 CONSTRAINT [PK_SupplierInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_Type] [varchar](50) NOT NULL,
	[name] [nvarchar](100) NULL,
	[user_Name] [varchar](50) NOT NULL,
	[user_Password] [nvarchar](100) NOT NULL,
	[Mobile_Number] [varchar](15) NULL,
	[user_Sex] [char](1) NULL,
	[address] [nvarchar](500) NULL,
	[user_status] [bit] NULL,
	[createby] [varchar](50) NULL,
	[createDate] [datetime] NULL,
	[modifyby] [varchar](50) NULL,
	[modifyDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[user_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([id], [name], [Catagory_id], [createby], [createDate], [modifyby], [modifyDate], [Remarks]) VALUES (1, N'Dell', 1, N'1', CAST(N'2016-09-16 04:11:22.757' AS DateTime), N'1', CAST(N'2016-09-16 04:11:22.757' AS DateTime), N'Dell Hardware brand')
INSERT [dbo].[Brand] ([id], [name], [Catagory_id], [createby], [createDate], [modifyby], [modifyDate], [Remarks]) VALUES (2, N'Asus', 1, N'1', CAST(N'2016-09-16 04:11:42.267' AS DateTime), N'1', CAST(N'2016-09-16 04:11:42.267' AS DateTime), N'Asus Brand ')
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Catagory] ON 

INSERT [dbo].[Catagory] ([id], [name], [createby], [createDate], [modifyby], [modifyDate], [Remarks]) VALUES (1, N'Hardware', N'1', CAST(N'2016-09-16 04:10:39.010' AS DateTime), N'1', CAST(N'2016-09-16 04:10:39.010' AS DateTime), N'HardWare catagory')
INSERT [dbo].[Catagory] ([id], [name], [createby], [createDate], [modifyby], [modifyDate], [Remarks]) VALUES (2, N'Software', N'1', CAST(N'2016-09-16 04:10:56.817' AS DateTime), N'1', CAST(N'2016-09-16 04:10:56.817' AS DateTime), N'software  catagory')
SET IDENTITY_INSERT [dbo].[Catagory] OFF
SET IDENTITY_INSERT [dbo].[Item] ON 

SET IDENTITY_INSERT [dbo].[Item] OFF
SET IDENTITY_INSERT [dbo].[Item_Distribution] ON 

INSERT [dbo].[Item_Distribution] ([id], [Item_id], [User_id], [Quantity], [Price], [Distribution_Date], [Remarks], [Createby], [CreateDate], [Modifiedby], [ModifiedDate]) VALUES (1, 1, 1002, CAST(1.00 AS Decimal(18, 2)), CAST(31011.000 AS Decimal(18, 3)), CAST(N'2016-09-16 00:00:00.000' AS DateTime), N'Item Distribute to Arif', N'1', CAST(N'2016-09-16 04:46:37.893' AS DateTime), N'1', CAST(N'2016-09-16 04:46:37.893' AS DateTime))
INSERT [dbo].[Item_Distribution] ([id], [Item_id], [User_id], [Quantity], [Price], [Distribution_Date], [Remarks], [Createby], [CreateDate], [Modifiedby], [ModifiedDate]) VALUES (2, 1, 1002, CAST(1.00 AS Decimal(18, 2)), CAST(31011.000 AS Decimal(18, 3)), CAST(N'2016-09-16 00:00:00.000' AS DateTime), N'test', N'1', CAST(N'2016-09-16 04:49:47.533' AS DateTime), N'1', CAST(N'2016-09-16 04:49:49.020' AS DateTime))
INSERT [dbo].[Item_Distribution] ([id], [Item_id], [User_id], [Quantity], [Price], [Distribution_Date], [Remarks], [Createby], [CreateDate], [Modifiedby], [ModifiedDate]) VALUES (3, 1, 1002, CAST(10.00 AS Decimal(18, 2)), CAST(310110.000 AS Decimal(18, 3)), CAST(N'2016-09-15 00:00:00.000' AS DateTime), N'new', N'1', CAST(N'2016-09-16 07:04:32.510' AS DateTime), N'1', CAST(N'2016-09-16 07:04:32.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[Item_Distribution] OFF
SET IDENTITY_INSERT [dbo].[Item_Receive] ON 

INSERT [dbo].[Item_Receive] ([id], [Supplier_id], [Item_id], [Receive_Date], [Total_Quantity], [Total_Price], [Per_unit_buy_price], [Per_unit_sell_price], [Createby], [CreateDate], [Modifiedby], [ModifiedDate], [Remarks]) VALUES (1, 1, 1, CAST(N'2016-09-16 00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)), CAST(300000.000 AS Decimal(18, 3)), CAST(30000.000 AS Decimal(18, 3)), CAST(31000.000 AS Decimal(18, 3)), N'1', CAST(N'2016-09-16 04:18:53.980' AS DateTime), N'1', CAST(N'2016-09-16 04:18:53.980' AS DateTime), N'Item receive')
INSERT [dbo].[Item_Receive] ([id], [Supplier_id], [Item_id], [Receive_Date], [Total_Quantity], [Total_Price], [Per_unit_buy_price], [Per_unit_sell_price], [Createby], [CreateDate], [Modifiedby], [ModifiedDate], [Remarks]) VALUES (2, 1, 2, CAST(N'2016-09-16 00:00:00.000' AS DateTime), CAST(200.00 AS Decimal(18, 2)), CAST(200.000 AS Decimal(18, 3)), CAST(1.000 AS Decimal(18, 3)), CAST(2.000 AS Decimal(18, 3)), N'1', CAST(N'2016-09-16 04:20:01.777' AS DateTime), N'1', CAST(N'2016-09-16 04:20:01.777' AS DateTime), N'Dell 1234 item receive')
INSERT [dbo].[Item_Receive] ([id], [Supplier_id], [Item_id], [Receive_Date], [Total_Quantity], [Total_Price], [Per_unit_buy_price], [Per_unit_sell_price], [Createby], [CreateDate], [Modifiedby], [ModifiedDate], [Remarks]) VALUES (3, 2, 3, CAST(N'2016-09-15 00:00:00.000' AS DateTime), CAST(10.00 AS Decimal(18, 2)), CAST(1000.000 AS Decimal(18, 3)), CAST(100.000 AS Decimal(18, 3)), CAST(110.000 AS Decimal(18, 3)), N'1', CAST(N'2016-09-16 04:21:15.830' AS DateTime), N'1', CAST(N'2016-09-16 04:21:15.830' AS DateTime), N'Asus 1.0 item receive')
SET IDENTITY_INSERT [dbo].[Item_Receive] OFF
SET IDENTITY_INSERT [dbo].[Item_Stock] ON 

INSERT [dbo].[Item_Stock] ([id], [stock_date], [item_id], [in_StockQuantity], [Out_StockQuantity], [status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (1, CAST(N'2016-09-16 04:18:54.050' AS DateTime), 1, CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, N'1', CAST(N'2016-09-16 04:18:53.980' AS DateTime), N'1', CAST(N'2016-09-16 04:18:53.980' AS DateTime))
INSERT [dbo].[Item_Stock] ([id], [stock_date], [item_id], [in_StockQuantity], [Out_StockQuantity], [status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (2, CAST(N'2016-09-16 04:20:01.797' AS DateTime), 2, CAST(200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, N'1', CAST(N'2016-09-16 04:20:01.777' AS DateTime), N'1', CAST(N'2016-09-16 04:20:01.777' AS DateTime))
INSERT [dbo].[Item_Stock] ([id], [stock_date], [item_id], [in_StockQuantity], [Out_StockQuantity], [status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (3, CAST(N'2016-09-16 04:21:15.850' AS DateTime), 3, CAST(10.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, N'1', CAST(N'2016-09-16 04:21:15.830' AS DateTime), N'1', CAST(N'2016-09-16 04:21:15.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[Item_Stock] OFF
SET IDENTITY_INSERT [dbo].[MeasurementUnit] ON 

INSERT [dbo].[MeasurementUnit] ([id], [name], [createby], [createDate], [modifyby], [modifyDate], [Remarks]) VALUES (1, N'Piece', N'1', CAST(N'2016-09-16 04:12:15.397' AS DateTime), N'1', CAST(N'2016-09-16 04:12:15.397' AS DateTime), N'Piece Unit ')
SET IDENTITY_INSERT [dbo].[MeasurementUnit] OFF
SET IDENTITY_INSERT [dbo].[SupplierInfo] ON 

INSERT [dbo].[SupplierInfo] ([id], [name], [Company], [Address], [Phone_Number], [City], [Country], [webAddress], [Email], [Contact_Person_Name], [createby], [createDate], [modifyby], [modifyDate]) VALUES (1, N'Dell xyz', N'Dell inc', N'sasdasda', N'1234', N'adad', N'adasd', N'adasd', N'adasd', N'md.hasan', N'1', CAST(N'2016-09-16 04:13:04.927' AS DateTime), N'1', CAST(N'2016-09-16 04:13:04.927' AS DateTime))
INSERT [dbo].[SupplierInfo] ([id], [name], [Company], [Address], [Phone_Number], [City], [Country], [webAddress], [Email], [Contact_Person_Name], [createby], [createDate], [modifyby], [modifyDate]) VALUES (2, N'Asus Gamer', N'Asus inc', N'sdada', N'adasda', N'asda', N'ada', N'adad', N'asdasd', N'md.ashasan', N'1', CAST(N'2016-09-16 04:13:58.377' AS DateTime), N'1', CAST(N'2016-09-16 04:13:58.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[SupplierInfo] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([id], [user_Type], [name], [user_Name], [user_Password], [Mobile_Number], [user_Sex], [address], [user_status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (1, N'admin', N'mshrasel', N'admin', N'admin', N'+8801676525954', N'M', N'abcd', 1, N'admin', CAST(N'2016-07-18 07:29:35.720' AS DateTime), N'admin', CAST(N'2016-07-18 07:29:35.720' AS DateTime))
INSERT [dbo].[UserInfo] ([id], [user_Type], [name], [user_Name], [user_Password], [Mobile_Number], [user_Sex], [address], [user_status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (1002, N'user', N'KH arif', N'arif', N'1234', N'01676525954', N'M', N'gshhgavsh', 1, N'admin', CAST(N'2016-08-03 00:43:53.007' AS DateTime), N'arif', CAST(N'2016-08-03 00:43:53.007' AS DateTime))
INSERT [dbo].[UserInfo] ([id], [user_Type], [name], [user_Name], [user_Password], [Mobile_Number], [user_Sex], [address], [user_status], [createby], [createDate], [modifyby], [modifyDate]) VALUES (4, N'user', N'New', N'new', N'1234', N'01676525954', N'M', N'testing', 1, N'admin', CAST(N'2016-07-19 09:08:18.257' AS DateTime), N'new', CAST(N'2016-07-19 09:08:18.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  StoredProcedure [dbo].[DeleteFromBrand]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[DeleteFromBrand]
@Brand_id int
as
if exists(select * from Brand where id =@Brand_id)
begin
	begin try
	delete from Brand where id =@Brand_id
	end try
	begin catch
	print 'error DeleteFromCatagory sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromCatagory]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteFromCatagory]
@catagory_id int
as
if exists(select * from Catagory where id =@catagory_id)
begin
	begin try
	delete from Catagory where id =@catagory_id
	end try
	begin catch
	print 'error DeleteFromCatagory sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromItem]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteFromItem]
@Item_id int
as
if exists(select * from Item where id =@Item_id)
begin
	begin try
	delete from Item where id =@Item_id
	end try
	begin catch
	print 'error DeleteFromItem sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromMeasurementUnit]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[DeleteFromMeasurementUnit]
@Mess_id int
as
if exists(select * from MeasurementUnit where id =@Mess_id)
begin
	begin try
	delete from MeasurementUnit where id =@Mess_id
	end try
	begin catch
	print 'error DeleteFromMeasurment sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromReceiveItem]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create procedure [dbo].[DeleteFromReceiveItem]
@ReceiveItem_id int
as
if exists(select * from Item_Receive where id =@ReceiveItem_id)
begin
	begin try
	delete from Item_Receive where id =@ReceiveItem_id
	end try
	begin catch
	print 'error DeleteFromCatagory sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteFromSupply]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[DeleteFromSupply]
@Supp_id int
as
if exists(select * from SupplierInfo where id =@Supp_id)
begin
	begin try
	delete from SupplierInfo where id =@Supp_id
	end try
	begin catch
	print 'error DeleteFromSupply sp '
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetBrandNameListCatagoryWise]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBrandNameListCatagoryWise]
@catagory_Id int 
as
begin
begin try
select id as brand_id,name as Brand_Name  from Brand where Brand.Catagory_id = @catagory_Id
end try
begin catch
print 'error in GetBrandNameListCatagoryWise sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetCatagoryList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCatagoryList]
as
begin
begin try
select id as catagory_id,name as catagory_name from Catagory
end try
begin catch
print 'error in GetCatagoryList sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetDistributorList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetDistributorList]
as
begin
select id as DistID , user_Name as DistName from UserInfo 
where user_Type ='user'
end
GO
/****** Object:  StoredProcedure [dbo].[GetItemList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[GetItemList]
as
begin
begin try
select id as ItemID,name as ItemName from Item
end try
begin catch
print 'error in GetItemList sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetMeasurementList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetMeasurementList]
as
begin
begin try
select id as Mess_id ,name as Mess_name from MeasurementUnit
end try
begin catch
print 'error in GetMeasurementList sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[GetReceivedItemList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[GetReceivedItemList]
as
begin
select distinct Item_Receive.Item_id  as ItemCode,
Item.name +'('+ convert(varchar(10),Item.id) +')' as ItemName
 from Item_Receive
inner join
Item
on
Item.id = Item_Receive.Item_id
inner join
Catagory
on
Catagory.id= Item.Catagory_id
inner join
Brand
on
Catagory.id = Brand.Catagory_id
and
Brand.id = Item.Brand_id
inner join
MeasurementUnit
on
Item.Munit_id = MeasurementUnit.id
end

GO
/****** Object:  StoredProcedure [dbo].[GetReceiveItemInfo]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE proc [dbo].[GetReceiveItemInfo]
@ItemCode int
as
begin 
if(@ItemCode <> ' ')
select Item_Stock.Item_id as ItemCode , 
sum(Item_Stock.in_StockQuantity) - sum(Item_Stock.Out_StockQuantity)as Quantity,SUM(Item_Receive.Total_Price)as Price,
sum(Item_Receive.Per_unit_buy_price)as buyprice, sum(Item_Receive.Per_unit_sell_price)as sellprice
 from Item_Receive
 inner join
 Item_Stock 
 on
 Item_Stock.item_id = Item_Receive.Item_id
 and Item_Stock.in_StockQuantity = Item_Receive.Total_Quantity
  where Item_Stock.Item_id = @ItemCode
 group by Item_Stock.Item_id
end

GO
/****** Object:  StoredProcedure [dbo].[GetRegisteredUserName]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[GetRegisteredUserName]
@UserName varchar(50),
@user_Password nvarchar(100)
As
Begin
begin try 

select * from UserInfo where user_Name = @UserName and user_Password = @user_Password 
end try
 begin catch 
 print 'Error in store procedure'
 end catch
End
GO
/****** Object:  StoredProcedure [dbo].[GetSupplierList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetSupplierList]
as
begin
begin try
select id as SupplerID,name as SupplerName from SupplierInfo
end try
begin catch
print 'error in GetSupplierList sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_Brand]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Insert_Update_Brand]
@BrandID int,
@catagoryID int,
@Brandremarks nvarchar(100),
@BrandName nvarchar(100),
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@BrandID = '')
begin
	
			 begin try
				
					
				insert into Brand 
				(name
				,Catagory_id
				,createby
				,createDate
				,modifyby
				,modifyDate
				,Remarks)
				values
				(@BrandName
				,@catagoryID
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				,@Brandremarks)


			

			

		
end try
 begin catch
 print 'error in Brand insert query'
 end catch
end

else

begin
		begin try
			update Brand
			set 
			name =@BrandName,
			Remarks = @Brandremarks
			where id = @BrandID
		end try

		begin catch
		print 'error in catagory Brand query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_Catagory]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Update_Catagory]
@catagory_id int,
@catagory_name nvarchar(100),
@catagory_remarks nvarchar(100),
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@catagory_id = '')
begin
	
			 begin try
				
					
				insert into Catagory 
				(name
				,createby
				,createDate
				,modifyby
				,modifyDate
				,Remarks)
				values
				(@catagory_name
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				,@catagory_remarks)


			

			

		
end try
 begin catch
 print 'error in catagory insert query'
 end catch
end

else

begin
		begin try
			update Catagory
			set 
			name =@catagory_name,
			Remarks = @catagory_remarks
			where id = @catagory_id
		end try

		begin catch
		print 'error in catagory update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_Item]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_Update_Item]
@image varbinary(MAX),
@ItemName nvarchar(100),
@catagoryId int,
@branID int,
@unitID int,
@itemDes nvarchar(1000),
@itemID int,
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@itemID = '')
begin
	
			 begin try
				
					
				insert into Item 
				(name
				,item_description
				,Item_Image
				,Brand_id
				,Catagory_id
				,Munit_id
				,createby
				,createDate
				,modifyby
				,modifyDate
				
				)
				values
				(@ItemName
				,@itemDes
				,@image
				,@branID
				,@catagoryId
				,@unitID
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				
				)

		
end try
 begin catch
 print 'error in Item insert query'
 end catch
end

else

begin
		begin try
			update Item
			set 
			name =@ItemName,
			Item_Image = @image,
			Catagory_id = @catagoryId,
			Brand_id = @branID,
			Munit_id = @unitID,
			item_description = @itemDes
			where id = @itemID
		end try

		begin catch
		print 'error in Item update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_ItemDistribution]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Insert_Update_ItemDistribution]
@dtime datetime,
@sellPrice decimal(18,3),
@Quantity decimal(18,2),
@remarks nvarchar(100),
@itemID int,
@DistributorID int,
@DistID int,
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@DistID = '')
begin

	
			 begin try
				
				
					
				insert into Item_Distribution 
				(Item_id
				,User_id
				,Quantity
				,Price
				,Distribution_Date
				,Remarks
				,Createby
				,CreateDate
				,Modifiedby
				,ModifiedDate
				
				)
				values
				(@itemID
				,@DistributorID
				,@Quantity
				,@sellPrice
				,@dtime
				,@remarks
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				
				)

			 -- select	@receiveID = (SELECT SCOPE_IDENTITY())

				insert into Item_Stock (stock_date,item_id,in_StockQuantity,
				Out_StockQuantity,status,createby,createDate,modifyby,modifyDate)values
				(GETDATE(),@itemID,0,@Quantity,1,@createby,@createDate,@modifyby,@modifyDate)



		
end try
 begin catch
 print 'error in Item_Distribution insert query'
 end catch
end

else

begin
		begin try
			update Item_Distribution
			set 
			
			Item_id = @itemID,
			Distribution_Date = @dtime,
			Quantity = @Quantity,
			Price = @sellPrice,
			User_id = @DistributorID,
			Remarks = @remarks
			where id = @DistID

			--update Item_Stock
			--set 
			--stock_date = GETDATE(),
			--item_id = @itemID,
			--in_StockQuantity = 0,
			--Out_StockQuantity = @Quantity,
			--status = 1
			--where Item_Stock.item_id = @itemID

		end try

		begin catch
		print 'error in Item_Distribution update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_ItemReceive]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE proc [dbo].[Insert_Update_ItemReceive]
@dtime datetime,
@buyPrice decimal(18,3),
@sellPrice decimal(18,3),
@totalQuantity decimal(18,2),
@totalPrice decimal(18,2),
@remarks nvarchar(200),
@itemID int,
@supplierID int,
@ItemReceID int,
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@ItemReceID = '')
begin
Declare @receiveID int
	
			 begin try
				
				
					
				insert into Item_Receive 
				(Supplier_id
				,Item_id
				,Receive_Date
				,Total_Quantity
				,Total_Price
				,Per_unit_buy_price
				,Per_unit_sell_price
				,Remarks
				,Createby
				,CreateDate
				,Modifiedby
				,ModifiedDate
				
				)
				values
				(@supplierID
				,@itemID
				,@dtime
				,@totalQuantity
				,@totalPrice
				,@buyPrice
				,@sellPrice
				,@remarks
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				
				)

			 -- select	@receiveID = (SELECT SCOPE_IDENTITY())

				insert into Item_Stock (stock_date,item_id,in_StockQuantity,
				Out_StockQuantity,status,createby,createDate,modifyby,modifyDate)values
				(GETDATE(),@itemID,@totalQuantity,0,1,@createby,@createDate,@modifyby,@modifyDate)



		
end try
 begin catch
 print 'error in Item_Receive insert query'
 end catch
end

else

begin
		begin try
			update Item_Receive
			set 
			Supplier_id =@supplierID,
			Item_id = @itemID,
			Receive_Date = @dtime,
			Total_Quantity = @totalQuantity,
			Total_Price = @totalPrice,
			Per_unit_buy_price = @buyPrice,
			Per_unit_sell_price = @sellPrice,
			Remarks = @remarks
			where id = @ItemReceID
		end try

		begin catch
		print 'error in Item_Receive update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_Measurement]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Insert_Update_Measurement]
@Measurement_id int,
@Measurement_name nvarchar(100),
@Measurement_remarks nvarchar(100),
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@Measurement_id = '')
begin
	
			 begin try
				
					
				insert into MeasurementUnit 
				(name
				,createby
				,createDate
				,modifyby
				,modifyDate
				,Remarks)
				values
				(@Measurement_name
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				,@Measurement_remarks)
	
end try
 begin catch
 print 'error in Measurement insert query'
 end catch
end

else

begin
		begin try
			update MeasurementUnit
			set 
			name =@Measurement_name,
			Remarks = @Measurement_remarks
			where id = @Measurement_id
		end try

		begin catch
		print 'error in Measurement update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_Supplier]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[Insert_Update_Supplier]
@SuppID int,
@SuppName nvarchar(20),
@suppAddress nvarchar(100),
@suppCompanyName nvarchar(50),
@suppContactPersonName nvarchar(20),
@suppPhoneNumber nvarchar(15),
@suppCountry nvarchar(15),
@suppCity nvarchar(20),
@suppEmail varchar(30),
@suppWebAddress varchar(30),
@createby varchar(10),
@createDate datetime,
@modifyby varchar(10),
@modifyDate datetime
as
if(@SuppID = '')
begin
	
			 begin try
				
					
				insert into SupplierInfo 
				(name
				,Company
				,Address
				,Phone_Number
				,City
				,Country
				,webAddress
				,Email
				,Contact_Person_Name
				,createby
				,createDate
				,modifyby
				,modifyDate
				
				)
				values
				(@SuppName
				,@suppCompanyName
				,@suppAddress
				,@suppPhoneNumber
				,@suppCity
				,@suppCountry
				,@suppWebAddress
				,@suppEmail
				,@suppContactPersonName
				,@createby
				,@createDate
				,@modifyby
				,@modifyDate
				
				)


			

			

		
end try
 begin catch
 print 'error in SupplierInfo insert query'
 end catch
end

else

begin
		begin try
			update SupplierInfo
			set 
			name =@SuppName,
			Company = @suppCompanyName,
			Address = @suppAddress,
			Phone_Number = @suppPhoneNumber,
			City = @suppCity,
			Country = @suppCountry,
			webAddress = @suppWebAddress,
			Email = @suppEmail,
			Contact_Person_Name =@suppContactPersonName
			where id = @SuppID
		end try

		begin catch
		print 'error in SupplierInfo update query'
		end catch
end
GO
/****** Object:  StoredProcedure [dbo].[Insert_Update_UserInfo]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Insert_Update_UserInfo]


@user_Type varchar(50),
@name nvarchar(100),
@user_Name varchar(50),
@user_Password nvarchar(100),
@Mobile_Number varchar(15),
@user_Sex char(1),
@address nvarchar(500),
@user_status bit,
@createby varchar(50),
@createDate datetime,
@modifyby varchar(50),
@modifyDate datetime


as
if not exists(select * from UserInfo where user_Name = @user_Name and user_Type= @user_Type and user_status = @user_status)
begin

begin try
 insert into UserInfo
 (user_Type,
  name,
  user_Name,
  user_Password,
  Mobile_Number,
  user_Sex,
  address,
  user_status,
  createby,
  createDate,
  modifyby,
  modifyDate)
  values
  (
	@user_Type,
	@name,
	@user_Name,
	@user_Password,
	@Mobile_Number,
	@user_Sex,
	@address,
	@user_status,
	@createby,
	@createDate,
	@modifyby,
	@modifyDate
  )

end try
 begin catch
 print 'error in insert query'
 end catch
end

else
begin
	begin try
	update UserInfo
	set 
	 name = @name,
	 user_Password = @user_Password,
	 user_Sex = @user_Sex,
	 address = @address,
	 Mobile_Number = @Mobile_Number
	 where
	 user_Name = @user_Name
	 and user_status = @user_status
	 and user_Type = @user_Type

	end try

	begin catch
	print'error in update query'
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[LoadBrandListDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[LoadBrandListDgv]
as

begin
begin try
	select Brand.id as Brand_id,Brand.name as Brand_Name,Catagory.id as catagory_id,Catagory.name as Catagory_Name,
UserInfo.createby as Creationby,Brand.Remarks as Brand_Remarks
 from Brand
 inner join
 Catagory 
 on
 Catagory.id = Brand.Catagory_id
 inner join
 UserInfo 
 on
 UserInfo.id = Brand.createby
end try 
begin catch
print 'errror in LoadBrandListDgv sp'
end catch


end
GO
/****** Object:  StoredProcedure [dbo].[LoadCatagoryListDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[LoadCatagoryListDgv]
as
begin
begin try
select Catagory.id as catagory_id,Catagory.name as catagory_name,Catagory.remarks,
CONVERT(date,Catagory.createDate,110)createDate,
UserInfo.user_Name as Createby
from Catagory
inner join
UserInfo
on
UserInfo.id = Catagory.createby
where
UserInfo.id = Catagory.createby


end try
begin catch
print 'error in LoadCatagoryListDgv sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[LoadDgvItemList]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadDgvItemList]
as
begin
begin try
select Item.id as itemID, Item.name as item_name, Item.item_description as ides,Item.Item_Image as ItemImage,Item.Catagory_id as ItemCatID,Catagory.name as CatagoryName,
 Item.Brand_id as ItemBrandId,Brand.name as BrandName, Item.Munit_id as ItemMessID,MeasurementUnit.name as MessName  from Item
inner join
Catagory
on
Catagory.id = Item.Catagory_id
inner join
Brand 
on
Brand.id = Item.Brand_id
inner join 
MeasurementUnit
on
MeasurementUnit.id  = Item.Munit_id
end try
begin catch
print 'error in LoadDgvItemList sp';
end catch

end
GO
/****** Object:  StoredProcedure [dbo].[LoadDistributionListDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LoadDistributionListDgv]
as
begin
select distinct Item_Distribution.id as DistributionCode,Item.name as ItemName, UserInfo.user_Name as DistributorName
,Item_Distribution.Quantity as Quantity,Item_Distribution.Price as ItemPrice
from Item_Distribution
inner join
Item
on
Item.id = Item_Distribution.Item_id
inner join
UserInfo
on
UserInfo.id = Item_Distribution.User_id
end
GO
/****** Object:  StoredProcedure [dbo].[LoadMeasurmentUnitListDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[LoadMeasurmentUnitListDgv]
as
begin

begin try
select MeasurementUnit.id as Mess_ID, MeasurementUnit.name as Measurment_Name, UserInfo.createby as CreationBy,
UserInfo.id as CreationID ,MeasurementUnit.Remarks as Measurement_Remarks 
from MeasurementUnit
inner join 
UserInfo 
on
MeasurementUnit.createby = UserInfo.id
where 
MeasurementUnit.createby = UserInfo.id
end try
begin catch
print 'error in LoadMeasurmentUnitListDgv sp'
end catch

end
GO
/****** Object:  StoredProcedure [dbo].[LoadReceiveItmDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[LoadReceiveItmDgv]
as
begin
begin try
select 
Item_Receive.id as ReceiveID ,
Item_Receive.Item_id as RcvItemID,
Item_Receive.Per_unit_buy_price as ItmRcvPerBuy,
Item_Receive.Per_unit_sell_price as ItmRcvPerSell,
Item_Receive.Total_Quantity as ItmRcvTotalQuantity,
Item_Receive.Total_Price as Total_Price,
Item_Receive.Supplier_id as ItmRcvSuppID,
Item_Receive.Receive_Date as ItmRcvDate,
Item_Receive.Remarks as ItmRcvRemarks,
Item.name as ItemName,
SupplierInfo.name as ItmRcvSuppName,
Catagory.name as CataName,
Brand.name as BrandName,
MeasurementUnit.name as UnitName
from Item_Receive
inner join 
Item 
on
Item.id = Item_Receive.Item_id
inner join
SupplierInfo
on
SupplierInfo.id = Item_Receive.Supplier_id
inner join
Catagory
on
Catagory.id = item.Catagory_id
inner join
Brand 
on
Brand.id = Item.Brand_id and
Brand.Catagory_id = Catagory.id
inner join
MeasurementUnit 
on
MeasurementUnit.id = Item.Munit_id


end try
begin catch
print 'error in LoadReceiveItmDgv sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[LoadStockInfoDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE proc [dbo].[LoadStockInfoDgv]
@ItemCode int,
@ItemName nvarchar(100)
as
begin


--select Item_Stock.item_id as ItemCode,Item.name as ItemName,SupplierInfo.name as SupplierName ,
--sum(isnull(Item_Stock.in_StockQuantity,0)) - sum(isnull(Item_Stock.Out_StockQuantity,0)) as StockQuantity from Item_Stock
--inner join
--Item 
--on
--Item.id = Item_Stock.item_id
--inner join 
--Item_Receive 
--on
--Item_Receive.id = Item_Stock.Receive_id
--inner join
--SupplierInfo 
--on
--SupplierInfo.id = Item_Receive.Supplier_id


--group by Item_Stock.item_id,Item.name,SupplierInfo.name
--order by ItemCode

		if(@ItemCode = '' and  @ItemName = '') 
		begin
		select Item_Stock.item_id as ItemCode,Item.name as ItemName,
		Catagory.name as CatagoryName,Brand.name as BrandName, MeasurementUnit.name as UnitName,
		sum(isnull(Item_Stock.in_StockQuantity,0)) - sum(isnull(Item_Stock.Out_StockQuantity,0)) as StockQuantity from Item_Stock
		inner join
		Item 
		on
		Item.id = Item_Stock.item_id
		inner join 
		Item_Receive 
		on
		Item_Receive.Item_id = Item_Stock.item_id
		and Item_Receive.Total_Quantity = Item_Stock.in_StockQuantity
		inner join
		SupplierInfo 
		on
		SupplierInfo.id = Item_Receive.Supplier_id
		inner join
		Catagory 
		on
		Catagory.id = Item.Catagory_id
		inner join
		Brand 
		on
		brand.id = item.Brand_id
		inner join
		MeasurementUnit
		on
		MeasurementUnit.id = Item.Munit_id
		left join 
		Item_Distribution
		on
		Item_Distribution.Item_id = Item_Stock.item_id
		and
		Item_Distribution.Quantity = Item_Stock.Out_StockQuantity

		group by Item_Stock.item_id,Item.name,Catagory.name,Brand.name,MeasurementUnit.name
		order by ItemCode Asc
		end

		if(@ItemCode <> '' and @ItemName = '')
		begin
		select Item_Stock.item_id as ItemCode,Item.name as ItemName,
		Catagory.name as CatagoryName,Brand.name as BrandName, MeasurementUnit.name as UnitName,
		sum(isnull(Item_Stock.in_StockQuantity,0)) - sum(isnull(Item_Stock.Out_StockQuantity,0)) as StockQuantity from Item_Stock
		inner join
		Item 
		on
		Item.id = Item_Stock.item_id
		inner join 
		Item_Receive 
		on
		Item_Receive.Item_id = Item_Stock.item_id
		and Item_Receive.Total_Quantity = Item_Stock.in_StockQuantity
		inner join
		SupplierInfo 
		on
		SupplierInfo.id = Item_Receive.Supplier_id
		inner join
		Catagory 
		on
		Catagory.id = Item.Catagory_id
		inner join
		Brand 
		on
		brand.id = item.Brand_id
		inner join
		MeasurementUnit
		on
		MeasurementUnit.id = Item.Munit_id
		left join 
		Item_Distribution
		on
		Item_Distribution.Item_id = Item_Stock.item_id
		and
		Item_Distribution.Quantity = Item_Stock.Out_StockQuantity
		where Item_Stock.item_id = @ItemCode
		group by Item_Stock.item_id,Item.name,Catagory.name,Brand.name,MeasurementUnit.name
		order by ItemCode Asc
		end

		if(@ItemCode ='' and @ItemName <> '')
		begin
		select Item_Stock.item_id as ItemCode,Item.name as ItemName,
		Catagory.name as CatagoryName,Brand.name as BrandName, MeasurementUnit.name as UnitName,
		sum(isnull(Item_Stock.in_StockQuantity,0)) - sum(isnull(Item_Stock.Out_StockQuantity,0)) as StockQuantity from Item_Stock
		inner join
		Item 
		on
		Item.id = Item_Stock.item_id
		inner join 
		Item_Receive 
		on
		Item_Receive.Item_id = Item_Stock.item_id
		and
		Item_Receive.Total_Quantity = Item_Stock.in_StockQuantity
		inner join
		SupplierInfo 
		on
		SupplierInfo.id = Item_Receive.Supplier_id
		inner join
		Catagory 
		on
		Catagory.id = Item.Catagory_id
		inner join
		Brand 
		on
		brand.id = item.Brand_id
		inner join
		MeasurementUnit
		on
		MeasurementUnit.id = Item.Munit_id
		left join 
		Item_Distribution
		on
		Item_Distribution.Item_id = Item_Stock.item_id
		and
		Item_Distribution.Quantity = Item_Stock.Out_StockQuantity
		where item.name = @ItemName
		group by Item_Stock.item_id,Item.name,Catagory.name,Brand.name,MeasurementUnit.name
		order by ItemCode Asc
		end

		if(@ItemCode <>'' and @ItemName <>'')
		begin
		select Item_Stock.item_id as ItemCode,Item.name as ItemName,
		Catagory.name as CatagoryName,Brand.name as BrandName, MeasurementUnit.name as UnitName,
		sum(isnull(Item_Stock.in_StockQuantity,0)) - sum(isnull(Item_Stock.Out_StockQuantity,0)) as StockQuantity from Item_Stock
		inner join
		Item 
		on
		Item.id = Item_Stock.item_id
		inner join 
		Item_Receive 
		on
		Item_Receive.Item_id = Item_Stock.item_id
		and Item_Receive.Total_Quantity = Item_Stock.in_StockQuantity
		
		inner join
		SupplierInfo 
		on
		SupplierInfo.id = Item_Receive.Supplier_id
		inner join
		Catagory 
		on
		Catagory.id = Item.Catagory_id
		inner join
		Brand 
		on
		brand.id = item.Brand_id
		inner join
		MeasurementUnit
		on
		MeasurementUnit.id = Item.Munit_id
		left join 
		Item_Distribution
		on
		Item_Distribution.Item_id = Item_Stock.item_id
		and
		Item_Distribution.Quantity = Item_Stock.Out_StockQuantity
		where Item_Stock.item_id = @ItemCode and
		 item.name = @ItemName
		group by Item_Stock.item_id,Item.name,Catagory.name,Brand.name,MeasurementUnit.name
		order by ItemCode Asc
		end




end



GO
/****** Object:  StoredProcedure [dbo].[LoadSupplierListDgv]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoadSupplierListDgv]
as
begin
begin try
select SupplierInfo.id as SuppID,SupplierInfo.name, SupplierInfo.Company as Company
 ,SupplierInfo.Address as Address, SupplierInfo.Phone_Number as Phone_Number, 
 SupplierInfo.City as City, SupplierInfo.Country as Country, SupplierInfo.webAddress as webAddress,
 SupplierInfo.Email as Email, SupplierInfo.Contact_Person_Name as  Contact_Person_Name,
 UserInfo.id as createID,  UserInfo.name as createby
 
 from   SupplierInfo
 inner join
 UserInfo
 on
 SupplierInfo.createby = UserInfo.id
 where 
 SupplierInfo.createby = UserInfo.id

end try
begin catch
print 'error in LoadSupplierListDgv sp'
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[TruncateTable]    Script Date: 17-Sep-16 8:49:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TruncateTable]
as
begin
Truncate table [dbo].[Item_Stock]
Truncate table [dbo].[Item_Receive]
Truncate table [dbo].[Item]
Truncate table [dbo].[SupplierInfo]
Truncate table [dbo].[Brand]
Truncate table [dbo].[Catagory]
Truncate table [dbo].[MeasurementUnit]
end

GO
